/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* black: 151515
   yellow: F4CE14
   white: F5F7F8
   green: 379777
   */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #f5f7f8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dark-black: #151515;
  --light-black: #272829;
  --white: #f5f7f8;
  --yellow: #fbecb2;
}

body {
  background-color: var(--light-black);
}

button.lighter {
  background-color: var(--light-black);
}

button.lighter:hover {
  background-color: var(--dark-black);
}

.card {
  background-color: #f5f7f8;
}

.header {
  background-color: var(--dark-black);
}

button.formButton {
  background-color: var(--yellow);
  color: var(--dark-black);
}

button.formButton:hover {
  background-color: var(--light-black);
  color: var(--yellow);
}
